@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f7f9;
  font-family: 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
